

/* CSS cho thẻ cha */
.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Chiều cao toàn màn hình */
    margin: 0;
    /* Loại bỏ khoảng cách mặc định */
}
.container-forgot-pass {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 480px;
padding-top: 100px;

  
    
    
}

.form-container-forgot-pass {
    background-color: #FFFFFF;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        flex-direction: column;
       
        height: 100%;
        text-align: center;
        padding: 20px;
      
      
        
   
    
}

.input-forgot-pass{
    background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        
}
.return-login{
    font-size: 14px;
text-align: right;
    display: block;
}
.form-container-forgot-pass a:hover{
    color: #d94e28;
    cursor: pointer;
}


.button-forgot-pass {
    border-radius: 20px;
    border: 1px solid #d94e28;
    background-color: #d94e28;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}